.img {
    background-image: url("../image/hm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.im {
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imgg {
    background-image: url("../image/momo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imggg {
    background-image: url("../image/choumin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}